<template>
     <div>
    <div class="card m-1 re-card">
      <div class="card-body text-center fs-1 fw-bold teks-title justify-content-center">UMKM</div>
    </div>
    <div class="header-title">
      <h1 class="fs-4 text-light text-center mt-5 fw-bold">Masukan Kata Sandi Baru</h1>
    </div>
    <div class="card m-auto mt-3" style="width: 28rem; height: auto">
      <form class="card-body justify-content-center" @submit.prevent="forgetPassword">
        <!-- <div class="mb-4 mx-2 mx-2 rounded">
          <input type="text" class="form-control border-0 br bg-cs" id="email" placeholder="Email" v-model="form.email"/>
          <small class="text-danger" v-if="errors.email"> {{ errors.email[0] }}</small>
        </div> -->
        <div class="mb-4 mx-2">
          <input type="password" class="form-control border-0 br bg-cs" id="password" placeholder="Kata Sandi" v-model="form.password"/>
          <small class="text-danger" v-if="errors.password"> {{ errors.password[0] }}</small>
        </div>
        <div class="mb-4 mx-2">
            <input type="password" class="form-control border-0 br bg-cs" id="re_password" placeholder="Ulang Kata Sandi" v-model="form.password_confirmation"/>
            <small class="text-danger" v-if="errors.password_confirmation"> {{ errors.password_confirmation[0] }}</small>
        </div>
        <div class="d-grid mx-auto">
          <button class="br btn btn-primary fw-bold" type="submit" style="background-color: #0095da">Daftar</button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Links  -->
      <section class="mt-5">
        <div class="container text-center text-md-start pt-4"></div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://umkm.com/">umkm.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>  
</template>

<script type="text/javascript">
export default {
    created(){
      console.log(this.$route.query.token)
      // axios.get('/api/auth/reset-password', { 
      //   params: {
      //     token : this.$route.query.token
      //   }
      // })
      axios.get(`/api/auth/reset-password/${this.$route.query.token}`)
      // axios.get('/api/auth/reset-password/W25kpAGUyQJyTSbCmKzrIdCQzbY2x4mkNtr2NLmj')
      .then(res => {
        User.responseStoreUserId(res)
    })
    .catch((error) => {
      if (error.response) {
        toast.fire({
          icon: 'warning',
          title: error.response.data.error
        })
        this.$router.push({name: '/login'})
      }
    })
    // if (!User.loggedIn()) {
    //   this.$router.push({name: '/'})
    // }
  },
  data() {
    return {
        form: {
            password: null,
            password_confirmation: null,
        },
        errors: {}
    }
  },
  methods: {
    forgetPassword() {
        axios.post('/api/auth/validationPassword', {
          user_id: localStorage.getItem('user_id'),
          password: this.form.password,
          password_confirmation: this.form.password_confirmation
        })
        .then(res => {
            toast.fire({
            icon: 'success',
            title: res.data.description
          })
          this.$router.push({name: '/login'})
        })
        .catch(error => this.errors = error.response.data.description)
        .catch(
          toast.fire({
            icon: 'warning',
            title: "Invalid Reset Password"
          })
      )
    },
  }
}

</script>


<style type="text/css">
</style>