<template>
 <div>
    <div class="card m-1 re-card">
      <div class="card-body text-center fs-1 fw-bold teks-title justify-content-center">UMKM</div>
    </div>
    <div class="header-title">
      <h1 class="fs-4 text-light text-center mt-5 fw-bold">Masukan Email</h1>
    </div>
    <div class="card m-auto mt-3" style="width: 28rem; height: auto">
      <form class="card-body justify-content-center" @submit.prevent="forgetPassword">
        <div class="mb-4 mx-2">
          <input type="text" class="form-control border-0 br bg-cs" id="email" placeholder="Email" v-model="form.email"/>
          <small id= "error-description" class="text-danger" v-if="errors.email"> {{ errors.email[0] }}</small>
        </div>
        <div class="d-grid mx-auto">
          <button class="br btn btn-primary fw-bold" @click="validationData()" type="submit" style="background-color: #0095da">Kirim Pembaruan Password</button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- Footer -->
    <footer id="footer" class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Links  -->
      <section class="mt-5">
        <div class="container text-center text-md-start pt-4"></div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://umkm.com/">umkm.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
   </div>
</template>

<script type="text/javascript">
export default {

  created(){
    if (User.loggedIn()) {
      this.$router.push({name: '/home'})
    }
  },
  data() {
    return {
        form: {
            email: null,
        },
        errors: {}
    }
  },
  methods: {
    async forgetPassword() {
      try {
        res = await axios.post('/api/auth/forgotpassword', {email: this.form.email})
        .then(res => {
            //koding
            toast.fire({
            icon: 'success',
            title: res.data.description
          })
        })
        // .catch(error => this.errors = error.response.data.description);
      } catch (error) {
        if (error.response.data.status_code == 401) {
          toast.fire({
          icon: 'warning',
          title: error.response.data.description
        })
        } else if (error.request) {
          toast.fire({
          icon: 'warning',
          title: "Please Insert Email"
        })
        }
      }
      // axios.post('/api/auth/forgotpassword', {email: this.form.email})
      //   .then(res => {
      //       //koding
      //       toast.fire({
      //       icon: 'success',
      //       title: res.data.description
      //     })
      //   })
      //   .catch(error => this.errors = error.response.data.description)
      //   .catch(
      //       toast.fire({
      //       icon: 'warning',
      //       title: "User Not Found"
      //     })
      // )
    },
    async validationData() {
      await axios.post('/api/auth/forgotpassword', {email: this.form.email})
      .catch(error => this.errors = error.response.data.description)
    }
  },
  updated() {
    if (document.getElementById("email").value) {
      document.getElementById("error-description").style.display = "none";
    } else {
      document.getElementById("error-description").style.display = "block"
    }
  }
}
</script>

<style type="text/css">
</style>