<template>
   <div>
    <div class="card m-1 re-card">
      <div class="card-body text-center fs-1 fw-bold teks-title justify-content-center">UMKM</div>
    </div>
    <div class="header-title">
      <h1 class="fs-4 text-light text-center mt-5 fw-bold">Verifikasi Akunmu</h1>
    </div>
    <div class="card m-auto mt-3" style="width: 28rem; height: auto">
      <form class="card-body justify-content-center" @submit.prevent="login">
        <div class="ps-1 pe-1 m-1 container text-center">
          <div class="row">
            <div class="col-sm-8" style="font-family: 'Georama'; font-style: normal; font-weight: 400; font-size: 11pt; line-height: 17px; color: #545151">Kirim Ulang Kode Verifikasi (OTP) Lewat SMS</div>
            <div class="col-sm-4"><button type="button" class="btn btn-primary btn-sm">kirim kode</button></div>
          </div>
        </div>
        <div class="mb-4 mx-2">
          <input type="number" class="form-control border-0 br bg-cs" id="OTP" placeholder="Masukan Kode OTP" v-model="form.kode_otp"/>
          <small class="text-danger" v-if="errors.kode_otp"> {{ errors.kode_otp[0] }}</small>
        </div>
        <div class="d-grid mx-auto">
          <button class="br btn btn-primary fw-bold" type="submit" style="background-color: #0095da">Masuk</button>
        </div>

        <div class="row fs-cs mt-3 row align-items-center">
          <div class="col text-end fw-bold">Tidak Punya Akun?</div>
          <a href="index.html" class="col text-start fw-bold p-0">Daftar</a>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- Footer -->
    <footer id="footer" class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Links  -->
      <section class="mt-5">
        <div class="container text-center text-md-start pt-4"></div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://umkm.com/">umkm.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
   </div>
</template>

<script type="text/javascript">
export default {

created(){
  if (User.loggedIn()) {
    this.$router.push({name: '/home'})
  } 
  if (!localStorage.getItem('email')){
    this.$router.push({name: '/login'})
  }
},

data() {
  return {
    form: {
      kode_otp: null,
    },
    errors:{}
  }
},
methods: {
  login() {
    axios.post('/api/auth/verifyOTP', {
        email: localStorage.getItem('email'),
        otp_code: this.form.kode_otp,
        password: localStorage.getItem('password')
    })
      .then(res => {
        localStorage.removeItem('email')
        localStorage.removeItem('password')
        User.responseAfterLogin(res)
        toast.fire({
          icon: 'success',
          title: 'Signed in Succesfully'
        })
      this.$router.push({name : '/home'})
    })
    .catch(error => this.errors = error.response.data.description)
    .catch(
      toast.fire({
        icon: 'warning',
        title:'Invalid OTP Code'
      })
    )
  }
}
}
</script>

<style type="text/css">
</style>