<template>
  <div>
    <body>
      <div class="card m-1 re-card">
        <div class="card-body text-center fs-1 fw-bold teks-title">UMKM</div>
      </div>
      <div class="header-title">
        <h1 class="fs-4 text-light text-center mt-5 fw-bold">Masuk ke Akunmu</h1>
      </div>
      <div class="card m-auto mt-3" style="width: 28rem; height: 356px">
        <!-- Email Row -->
        <!-- <Form class="user" @submit.prevent="login"> -->
          <form class="card-body" @submit.prevent="login">
            <div class="mb-4 mt-5 mx-2 rounded">
              <input type="text" class="form-control border-0 br bg-cs" id="email" placeholder="Email" v-model="form.email"/>
              <small class="text-danger" v-if="errors.email"> {{ errors.email[0] }}</small>
            </div>
            <div class="mb-1 mx-2">
              <input type="password" class="form-control border-0 br bg-cs" id="password" placeholder="Kata Sandi" v-model="form.password" />
              <small class="text-danger" v-if="errors.password"> {{ errors.password[0] }}</small>
            </div>
            <div class="text-end">
              
              <p class="fs-cs fw-bold">
                <router-link to="/forgot"> Lupa Kata Sandi? </router-link>
              </p>
            </div>
            <div class="d-grid mx-auto">
              <button class="br btn btn-primary fw-bold" type="submit" style="background-color: #0095da">Masuk</button>
            </div>
  
            <div class="row fs-cs mt-3 row align-items-center">
              <div class="col text-end fw-bold">Tidak Punya Akun?</div>
              <!-- <a href="#" class="col text-start fw-bold p-0">Daftar</a> -->
              <router-link to="/register" class="col text-start fw-bold p-0"> Daftar </router-link>
            </div>
        </form>
        <!-- </Form> -->
      </div>
  
      <!-- Optional JavaScript; choose one of the two! -->
  
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    </body>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Links  -->
      <section class="mt-5">
        <div class="container text-center text-md-start pt-4">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="fs-7 fw-bold mb-4">Layanan Pelanggan</h6>
                <p>
                  <a href="#!" class="text-reset fs-cs">Pusat Bantuan</a>
                </p>
                <p>
                  <a href="#!" class="text-reset fs-cs">Metode Pembayaran</a>
                </p>
                <p>
                  <a href="#!" class="text-reset fs-cs">Cara Pembelian</a>
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="fs-7 fw-bold mb-4">Jelajahi UMKM</h6>
              <p>
                <a href="#!" class="text-reset fs-cs">Semua kategori</a>
              </p>
              <p>
                <a href="#!" class="text-reset fs-cs">Tentang UMKM</a>
              </p>
              <p>
                <a href="#!" class="text-reset fs-cs">Syarat & Ketentuan</a>
              </p>
              <p>
                <a href="#!" class="text-reset fs-cs">Kebijakan Privasi</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="fw-bold mb-4">Pembayaran</h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="fs-7 fw-bold mb-4">Ikuti Kami</h6>
              <p><i class="fas fa-home me-3 text-secondary fs-cs"></i>Facebook</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary fs-cs"></i>
                Twitter
              </p>
              <p><i class="fas fa-phone me-3 text-secondary fs-cs"></i> Instagram</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://umkm.com/">umkm.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
      </div>
  </template>

<script type="text/javascript">
import axios from 'axios';
import { Toast } from 'bootstrap';
// import { data } from 'browserslist';

export default {
  created(){
    if (User.loggedIn()) {
      this.$router.push({name: 'home'})
    }
  },

  data() {
    return {
      form: {
        email: null,
        password: null
      },
      errors:{}
    }
  },
  methods: {
     login() {
      axios.post('/api/auth/login', this.form)
        .then(res => {
          User.responseBeforeOTP(res)
          toast.fire({
            icon: 'success',
            title: 'Send Code OTP Succesfully'
          })
          this.$router.push({name : 'loginotp'})
      })
      .catch(error => this.errors = error.response.data.description)
      .catch(
        toast.fire({
          icon: 'warning',
          title:'Invalid Email or Password'
        })
      )
    }
  }
}
</script>

<style type="text/css">

</style>