<template>
  <div>
    <div class="card m-1 re-card">
      <div class="card-body text-center fs-1 fw-bold teks-title justify-content-center">UMKM</div>
    </div>
    <div class="header-title">
      <h1 class="fs-4 text-light text-center mt-5 fw-bold">Buat Akun</h1>
    </div>
    <div class="card m-auto mt-3" style="width: 28rem; height: auto">
      <form class="card-body justify-content-center" @submit.prevent="register">
        <div class="mb-4 mx-2 mx-2 rounded">
          <input type="text" class="form-control border-0 br bg-cs" id="email" placeholder="Email" v-model="form.email"/>
          <small id="error-description-email" class="text-danger" v-if="errors.email"> {{ errors.email[0] }}</small>
        </div>
        <div class="mb-4 mx-2">
          <input type="text" class="form-control border-0 br bg-cs" id="name" placeholder="Masukan Nama" v-model="form.name" />
          <small id="error-description-name" class="text-danger" v-if="errors.name"> {{ errors.name[0] }}</small>
        </div>
        <div class="mb-4 mx-2">
          <input type="text" class="form-control border-0 br bg-cs" id="username" placeholder="Masukan Username" v-model="form.username"/>
          <small id="error-description-username" class="text-danger" v-if="errors.username"> {{ errors.username[0] }}</small>
        </div>
        <div class="mb-4 mx-2">
          <input type="password" class="form-control border-0 br bg-cs" id="password" placeholder="Buat Kata Sandi" v-model="form.password"/>
          <small id="error-description-password" class="text-danger" v-if="errors.password"> {{ errors.password[0] }}</small>
        </div>
        <div class="mb-4 mx-2">
            <input type="password" class="form-control border-0 br bg-cs" id="password_confirmation" placeholder="Ulang Kata Sandi" v-model="form.password_confirmation"/>
            <small id="error-description-password-confirmation" class="text-danger" v-if="errors.password_confirmation"> {{ errors.password_confirmation[0] }}</small>
            <!-- <span v-else-if="!$v.user.confirmPassword.sameAsPassword">Passwords must match</span> -->
        </div>
        <div class="mb-4 mx-2">
          <input type="number" class="form-control border-0 br bg-cs" id="no_telp" placeholder="Nomor Telepon" v-model="form.no_telp"/>
          <!-- <vue-tel-input class="form-control border-0 br bg-cs" id="no_telp" placeholder="Nomor Telepon" v-model="form.no_telp" mode="national" defaultCountry="ID" :autoFormat="false" validCharactersOnly @input="onInput" /> -->
          <small id="error-description-no_telp" class="text-danger" v-if="errors.no_telp"> {{ errors.no_telp[0] }}</small>
        </div>
        <div class="d-grid mx-auto">
          <button class="br btn btn-primary fw-bold" type="submit" @click="validationData()" style="background-color: #0095da">Daftar</button>
        </div>
        <div class="row fs-cs mt-3 row align-items-center">
          <div class="col text-end fw-bold">Tidak Punya Akun?</div>
          <!-- <a href="index.html" class="col text-start fw-bold p-0">Login</a> -->
          <router-link to="/login" class="col text-start fw-bold p-0"> Login </router-link>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Links  -->
      <section class="mt-5">
        <div class="container text-center text-md-start pt-4"></div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://umkm.com/">umkm.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>   
</template>

<script type="text/javascript">
import axios from 'axios';
// import { required, email, minLength, sameAs } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import { required, email, minLength, sameAs } from '@vuelidate/validators'
import User from '../../Helpers/User';

  export default {
    created() {
      if (User.loggedIn()) {
        this.$router.push({name:'/home'})
      }
    },

    data() {
      return {
        form: {
          email: null,
          name: null,
          username: null,
          password: null,
          password_confirmation: null,
          no_telp: null,
        },
        errors:{}
      }
    },

    methods: {
      onInput(value) {
        console.log({ value });
      },
      async register() {
        try {
          res = await axios.post('api/auth/register', {
          name: this.form.name,
          username: this.form.username,
          email: this.form.email,
          password: this.form.password,
          password_confirmation: this.form.password_confirmation,
          no_telp: this.form.no_telp,
          })
          .then(res => {
          toast.fire({
            icon: 'success',
            title: res.data.description
          })
          this.$router.push({ name: '/login' })
        })
        } catch (error) {
          if (error.response.data.status_code == 400) {
          toast.fire({
          icon: 'warning',
          title: "Please Complete Information"
        })
        } else if (error.request) {
          toast.fire({
          icon: 'warning',
          title: error.response.data.error
        })
      }
    }
    },
    // register() {
    //     axios.post('api/auth/register', {
    //       name: this.form.name,
    //       username: this.form.username,
    //       email: this.form.email,
    //       password: this.form.password,
    //       password_confirmation: this.form.password_confirmation,
    //       no_telp: this.form.no_telp,
    //     })
    //     .then(res => {
    //       toast.fire({
    //         icon: 'success',
    //         title: res.data.description
    //       })
    //       this.$router.push({ name: '/login' })
    //     })
    //   .catch(error => this.errors = error.response.data.description)
    //   .catch(
    //     toast.fire({
    //       type: 'warning',
    //       title: 'Invalid Data, Please Input Valid Data'
    //     })
    //   )
    //   },
      // async validationData() {
      //   await axios.post('/api/auth/register', {
      //     name: this.form.name,
      //     username: this.form.username,
      //     email: this.form.email,
      //     password: this.form.password,
      //     password_confirmation: this.form.password_confirmation,
      //     no_telp: this.form.no_telp,
      //     })
      //   .catch(error => this.errors = error.response.data.description)
      // }
    },
    updated(){
      if (document.getElementById("email").value) {
        document.getElementById("error-description-email").style.display = "none";
      } else {
        document.getElementById("error-description-email").style.display = "block"
      }
      if (document.getElementById("name").value) {
        document.getElementById("error-description-name").style.display = "none";
      } else {
        document.getElementById("error-description-name").style.display = "block"
      }
      if (document.getElementById("username").value) {
        document.getElementById("error-description-username").style.display = "none";
      } else {
        document.getElementById("error-description-username").style.display = "block"
      }
      if (document.getElementById("password").value) {
        document.getElementById("error-description-password").style.display = "none";
      } else {
        document.getElementById("error-description-password").style.display = "block"
      }
      if (document.getElementById("password_confirmation").value) {
        document.getElementById("error-description-password-confirmation").style.display = "none";
      } else {
        document.getElementById("error-description-password-confirmation").style.display = "block"
      }
      if (document.getElementById("no_telp").value) {
        document.getElementById("error-description-no_telp").style.display = "none";
      } else {
        document.getElementById("error-description-no_telp").style.display = "block"
      }
    }
  } 

</script>

<style type="text/css">
</style>