<template>
    <div>
        <h1>Dasboard</h1>
        <router-link to="/logout" class="ml-2 d-none d-lg-inline text-white small">Logout</router-link>
    </div>
</template>

<script type="text/javascript">
export default {

created(){
  if (!User.loggedIn()) {
    this.$router.push({name: '/login'})
  }
},

data() {
  return {
    
  }
},
methods: {

}
}
</script>

<style type="text/css">
</style>